<footer class="site-footer">
	<div class="site-footer-block">
		<div class="container">
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-4">
					<div class="site-footer-title"><div
              class="site-footer-title-block">What is UTAU?</div></div>
					<div class="site-footer-content">
            We are a non-profit organization that aims to bridge the gap
            between Asian organizations at the University of Toronto.
					</div>
				</div>
				<div class="col-md-4">
					<div class="site-footer-title"><div
              class="site-footer-title-block">Newsletter</div></div>
					<div class="site-footer-content">
            <div id="success" class="alert alert-success" role="alert">Success!</div>
            <form id="subscribe" class="form" action="http://utau.createsend.com/t/t/s/ijykjh/" method="post">
						    <div class="input-group">
                    <input class="form-control" id="fieldEmail" name="cm-ijykjh-ijykjh" type="email" placeholder="Your email address" required />
						        <span class="input-group-btn">
						            <input type="submit" class="btn btn-default" value="Subscribe" />
						        </span>
						    </div>
						</form>
					</div>
				</div>
				<div class="col-md-2"></div>
			</div>
		</div>
	</div>
</footer>
