<footer class="site-footer">
	<div class="site-footer-block">
		<div class="container">
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-4">
					<div class="site-footer-title"><div class="site-footer-title-block">About Us</div></div>
					<div class="site-footer-content">
						Founded in 2013, UTAU has been working hard to create a united Asian community at the University of Toronto. UTAU strives to strengthen the connections between Asian associations, to build valuable and long lasting networks for our members, and to enhance the overall university experience for our member groups.
					</div>
				</div>
				<div class="col-md-4">
					<div class="site-footer-title"><div class="site-footer-title-block">Newsletter</div></div>
					<div class="site-footer-content">
						Enter your email address below to subscribe to our newsletter.

						<form action="" method="post" target="_blank" novalidate>
						    <div class="input-group">
						        <input type="email" value="" name="EMAIL" class="form-control" placeholder="Your Email Address" required>
						        <span class="input-group-btn">
						            <input type="submit" class="btn btn-default" value="Subscribe" />
						        </span>
						    </div>
						</form>
					</div>
				</div>
				<div class="col-md-2"></div>
			</div>
		</div>
	</div>
</footer>