{{! WIDGET }}
<aside class="widget hidden-sm hidden-xs">
    <header class="widget-title"><h6><i class="fa fa-angle-double-right"></i> Recent Posts</h2></header>
    <section class="widget-content">
        <div id="recent-posts"></div>
        <div class="clearfix"></div>
    </section>
</aside>
{{! WIDGET }}

{{! WIDGET }}
<aside class="widget hidden-sm hidden-xs">
    <header class="widget-title"><h6><i class="fa fa-facebook-square"></i> Facebook Page</h2></header>
    <section class="widget-content">
        <div id="facebook-page"></div>
        <div class="clearfix"></div>
    </section>
</aside>
{{! WIDGET }}