{{!< default}}

<div class="container">
    <div class="row">
    	<div class="col-md-2"></div>
        <div class="col-md-8">
			<main class="content" role="main">

			    <article class="{{post_class}}">

			        {{#post}}
			            <header class="post-header">
			                <div class="post-meta"><h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2></div>
			            </header>
			            <section class="post-content">
			                {{content}}
			            </section>
			            <footer class="post-footer">
			                <div class="clearfix"></div>
			            </footer>
			        {{/post}}

			    </article>

			</main>
		</div>
		<div class="col-md-2"></div>
	</div>
</div>
