{{!< default}}

<div class="container">
  <div class="row">
    <div class="col-md-12 calendar-wrap">
      <div class="custom-calendar-wrap custom-calendar-full">
        <div class="custom-header clearfix">
          <h2>Calendar</h2>
          <h3 class="custom-month-year">
            <span id="custom-month" class="custom-month"></span>
            <span id="custom-year" class="custom-year"></span>
            <nav>
              <span id="custom-prev" class="custom-prev"></span>
              <span id="custom-next" class="custom-next"></span>
              <span id="custom-current" class="custom-current" title="Got to current date"></span>
            </nav>
          </h3>
        </div>
        <div id="calendar" class="fc-calendar-container"></div>
    </div>
	</div>
</div>

<!-- <main id="calendar" class="content" role="main"> -->
<!--   <article class="{{post_class}}"> -->

<!--     <header class="post-header"> -->
<!--         <div class="post-meta"><h2 class="post-title">Calendar</h2></div> -->
<!--     </header> -->
<!--     <section class="post-content"> -->
<!--     </section> -->
<!--     <footer class="post-footer"> -->
<!--         <div class="clearfix"></div> -->
<!--     </footer> -->

<!--   </article> -->
<!-- </main> -->
