{{!< default}}

<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <main class="content" role="main">
        <img id="under-construction" src="{{asset "img/under-construction.jpg"}}"/>
      </main>
    </div>
    <div class="col-md-2"></div>
	</div>
</div>
